<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="chartdiv" style="width: 100%;height: 500px;"></div>

    <script src="js/core.js"></script>
    <script src="js/charts.js"></script>
    <script src="js/animated.js"></script>
    <script type="text/javascript" src="js/stomp.min.js" ></script>
    <script type="text/javascript" src="js/sockjs.min.js" ></script>
    <script type="text/javascript" src="js/moment.js" ></script>

    <script>
        var chart = null;
        var logs = [];
        var socket = new SockJS('/logs');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/logs', function (log) {
                if(log.body){
                    var value = JSON.parse(log.body);
                    var parsedValue ={};
                    var cities = [];
                    value.forEach(function(v){
                       parsedValue[v.name] = v.count;
                       cities.push(v.name);
                       parsedValue['date'] = new Date(v.date);
                    });
                    //logs.push(parsedValue);
                    if (chart){
                        chart.data.push(parsedValue);
                        if(chart.data.length >= 10){
                            chart.data.shift();
                        }
                        chart.validateData();
                    }
                }
            });
        });



        am4core.ready(function() {
            am4core.useTheme(am4themes_animated);
            chart = am4core.create("chartdiv", am4charts.XYChart);
            chart.colors.step = 2;
            chart.paddingLeft = 40;
            chart.paddingRight = 40;
            chart.data = [];
            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
            dateAxis.renderer.minGridDistance = 50;
            dateAxis.baseInterval = {
                "timeUnit": "second",
                "count": 5
            };
            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            createAxisAndSeries("Tokyo", "Tokyo");
            createAxisAndSeries("Istanbul", "Istanbul");
            createAxisAndSeries("Moscow", "Moscow");
            createAxisAndSeries("Beijing", "Beijing");
            createAxisAndSeries("London", "London");
            chart.legend = new am4charts.Legend();
            chart.cursor = new am4charts.XYCursor();
            function createAxisAndSeries(field, name) {
                var series = chart.series.push(new am4charts.LineSeries());
                series.dataFields.valueY = field;
                series.dataFields.dateX = "date";
                series.strokeWidth = 2;
                series.yAxis = valueAxis;
                series.name = name;
                series.tooltipText = "{name}: [bold]{valueY}[/]";
                series.tensionX = 0.8;
                var interfaceColors = new am4core.InterfaceColorSet();
                var bullet = series.bullets.push(new am4charts.CircleBullet());
                bullet.circle.stroke = interfaceColors.getFor("background");
                bullet.circle.strokeWidth = 2;
            }
        });
    </script>
</body>

</html>